/* ###################################################### */
/* Small devices (landscape phones, 576px and up)  */
/* ^^^^^^^^^^^^^^^^^^^^^^^  start ^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

@media (max-width: 575.98px) {
    .text-nav{
        text-align: justify;
        position: absolute;
        margin-top: 100px !important;
        font-size: 1rem;
        font-weight: 200;
       letter-spacing: .1rem;
       text-shadow: .1rem .1rem .8rem#0070ff;
       color: #5c00ff;
       
    }

 }
/* ########################## end  ############################ */
/*   Medium devices (tablets, 768px and up) */
/* ^^^^^^^^^^^^^^^^^^^^^^^^  start ^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ########################## end  ############################ */
/*  Large devices (desktops, 992px and up) */
/* ^^^^^^^^^^^^^^^^^^^^^^^^  start ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
@media (min-width: 576px) and (max-width: 767.98px) {

  
}


/* ########################## end  ############################ */
/*  Extra large devices (large desktops, 1200px and up) */
/* ^^^^^^^^^^^^^^^^^^^^^^^^  start ^^^^^^^^^^^^^^^^^^^^^^^^^^ */
@media (min-width: 768px) and (max-width: 991.98px) {

}


/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }